* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
}

.bg__img {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}


.navbar {
    background-color: rgba(92, 73, 49, 0.886);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 70px;
}

.nav__logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    bottom: 5px;
}

.nav__logo img {
    position: absolute;
    width: 60px;
    top: -30px;
    left: 0;
}



.navbar .nav__links ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    font-size: 20px;
    width: 100%;
    list-style: none;
    margin: 0;


}

a {
    color: rgba(248, 140, 58, 0.923);


}


.big_txt {
    color: rgba(222, 112, 16, 0.907);
    padding: 0px 0px;
    border: none;
    font-size: 20px;
    text-align: center;
    margin: 20px 400px;
    width: 50%;
    font-weight: 1000;


}

.header_logo_txt {
    color: rgba(248, 140, 58, 0.923);
}

h1 {
    display: flex;
    justify-content: center;
    color: rgba(248, 140, 58, 0.923);
    padding: 10px 20px;
    border: none;
    font-size: 50px;
    text-align: center;
    padding: 100px 50px;
    /* margin: 92px 400px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    gap: 30px;
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    justify-content: space-between;
}

.product {
    width: 20%;
    background-color: rgb(250, 236, 236);
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid rgba(92, 73, 49, 0.886);
    border-radius: 30px;
    margin: 5px;
    position: relative;
}

.product i {
    position: absolute;
    right: 5px;
    top: 3px;


}

.product img {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

button {
    display: flex;
    margin: 20px;
    background-color: rgb(103, 83, 56);
    padding: 2px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(231, 204, 167)
}

button:hover {
    background-color: black;
    color: yellow;
}

p {
    color: rgba(0, 0, 0, 0.775);
    font-size: 20px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;

}

.buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h3 {
    color: rgb(103, 83, 56);
}




i {
    color: rgb(61, 48, 48);
    font-size: 24px;
    position: absolute;

}


.second_section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1533779283484-8ad4940aa3a8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}


.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered p {
    color:rgba(248, 140, 58, 0.923);
    margin: 20px;
}

.about {
    padding: 1rem 10rem;
    display: flex;
}
.about-text h2{
    color: rgba(23, 22, 20, 0.923);
    padding: 50px;
  font-size: 50px;
    text-align: ;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about img{
    width: 390px;
}
.about p{
    color: rgb(62, 45, 38);
}
.icon_i{
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    position: relative;
    z-index: 1;
}